html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

input:focus {
    outline:none;
}

button:focus {outline:0;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a{text-decoration: none;
color: #ffffff !important; }
/*FIN DU RESET*/


html{
  overflow: hidden;
}


*, *:focus {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline-style:none;/*IE*/
}
@font-face {
    font-family: Adopte_Bold;
    src: url(../fonts/Adopte_Bold.otf);
}
@font-face {
    font-family: OpenSans-Regular;
    src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: OpenSans-Bold;
    src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
    font-family: GloriaHallelujah;
    src: url(../fonts/GloriaHallelujah.ttf);
}




#main{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #5a4e3f;
    background-image: url('../img/pattern.png');
    background-size: 10px 10px;
    background-repeat: repeat;
    /*background-color: #ffffff;*/
    position: absolute;
    z-index: -3;
    overflow: hidden;
    display: block;
}

/***************/
/***************/
/****PRE-HOME***/
/****PRE-HOME***/
/****PRE-HOME***/
/***************/
/***************/

#pre_home{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #5a4e3f;
    background-image: url('../img/pattern.png');
    background-size: 10px 10px;
    background-repeat: repeat;
    position: absolute;
    z-index: -3;
    overflow: hidden;
    display: block;
}


#logo_spa_pre_home{
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 15%;
    height: auto;
    position: absolute;
    z-index: 100;
    opacity: 0;
}

#titre_pre_home{  
    top: 50%;
    left: 0;
    width: 100%;
    height: 5.7%;
    position: absolute;
    background-image: url('../img/titre_pre_home.png');
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    /*background-color: aqua;*/
    overflow: hidden;
}

#titre_pre_home_load{  
    top: 50%;
    left: 0;
    width: 100%;
    height: 5.7%;
    position: relative;
    background-image: url('../img/titre_pre_home_load.png');
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    overflow: hidden;
    transition-property: all;
    transition-duration: .5s;
    /*background-color: rgba(0,0,0,0.2);*/
    opacity: 0;
}



/***************/
/***************/
/******HOME*****/
/******HOME*****/
/******HOME*****/
/***************/
/***************/

#home{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #5a4e3f;
    background-image: url('../img/pattern.png');
    background-size: 10px 10px;
    background-repeat: repeat;
    /*background-color: #ffffff;*/
    position: absolute;
    z-index: -3;
    overflow: hidden;
    display: none;
}

.zone_home{
    left: 0;
    width: 100%;
    height: 18.4%;
    position: absolute;
    overflow: hidden;
    display: block;
}

#zone_animal_1{
    top: 8%;
    left: -3%;
    background-image: url('../img/lapin_home.jpg');
    background-size: 100% auto;
    opacity: 0;
    /*background-color: red;*/
}
#zone_animal_2{
    top: 26.4%;
    left: -3%;
    background-image: url('../img/chien_home.jpg');
    background-size: 100% auto;
    opacity: 0;
    /*background-color: blue;*/
}
#zone_titre_home{
    top: 44.8%;
    left: -3%;
    background-color: #ffffff;
    opacity: 0;
}
#zone_animal_3{
    top: 63.2%;
    left: -3%;
    background-image: url('../img/chat_home.jpg');
    background-size: 100% auto;
    opacity: 0;
    /*background-color: green;*/
}
#zone_animal_4{
    top: 81.6%;
    left: -3%;
    background-image: url('../img/cheval_home.jpg');
    background-size: 100% auto;
    opacity: 0;
    /*background-color: purple;*/
}

#titre_home{  
    color: #ec6707;
    font-size: 9vw;
    top: 12%;
    width: 100%;
    left: 0;
    position: absolute;
    text-align: center;
}

#filet_home{
    width: 30%;
    height: 2%;
    top: 51%;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    background-color: #ec6707;
}

#texte_home{ 
    color: #ec6707;
    font-size: 3.5vw;
    bottom: 12%;
    width: 100%;
    left: 0;
    position: absolute;
    text-align: center;    
}

.btns_home{
   position: absolute;
   width:17vw;
   height:17vw;
   background-color: #ec6707;
   border-radius: 50% 50%;
   top: 50%;
   right: 5%;
   opacity: 0.7;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}

.fleche_home{
   position: absolute;
    width: 12vw;
    height: 12vw;
    top: 58%;
    right: 21%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}






/***************/
/***************/
/****ANIMAUX****/
/****ANIMAUX****/
/****ANIMAUX****/
/***************/
/***************/

#animaux{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d0d0d0;
    position: absolute;
    z-index: -3;
    overflow: hidden;
    display: none;
}

#container_title,#container_title_home{
    top: 0;
    left: 0;
    width: 100%;
    height: 8%;
    background-color: #70624f;
    position: absolute;
}

#header_title,#header_title_home{  
    color: #ffffff;
    font-size: 7vw;
    top: 55%;
    width: 100%;
    left: 20%;
    position: absolute;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}
#header_title_home{ 
    left:24%;
    opacity: 0;
}

#logo_spa,#logo_spa_home{
    top: 2%;
    left: 3%;
    width: 15%;
    height: auto;
    position: absolute;
    z-index: 100;
}

#logo_spa_home{
    opacity: 0;
}

#liste_btn{
    top: 8%;
    left: 0;
    width: 100%;
    height: 8%;
    background-color: rgba(112, 98, 79, 0.4);
    position: absolute;
    cursor: pointer;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

#liste_picto{
    /*width: 8.5%;
    height: auto;*/
    width: auto;
    height: 83%;
    left: 30%;
    padding-top: 1%;
    position: absolute;
}

#liste_title{  
    color: #ffffff;
    font-size: 5vw;
    top: 55%;
    width: 100%;
    left: 41%;
    position: absolute;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}

#liste_fleche{
    position: absolute;
    top: 50%;
    right: 5%;
    width: 5.7%;
    height: auto;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}

#liste_content{
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    opacity: 0;
}

#liste_title_img{  
    color: #716252;
    font-size: 7.2vw;
    top: 12.5%;
    width: 100%;
    text-align: center;
    position: absolute;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}

#liste_img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 96%;
    height: auto;
}

#liste_close_img{
    position: absolute;
    top: 5%;
    right: 10%;
    width: 5.8%;
    height: auto;
}


.anim_vid{
    width: 100%;
    height: auto;
    bottom: -2%;
    left: 0;
    position:absolute;
}

#vid_0_chien,#vid_1_chien,#vid_2_chien,#vid_3_chien{
    display: none;
}
#vid_0_chien{
    display: block;
}

#vid_0_lapin,#vid_1_lapin,#vid_2_lapin,#vid_3_lapin{
    display: none;
}
#vid_0_lapin{
    display: block;
}

#vid_0_chat,#vid_1_chat,#vid_2_chat,#vid_3_chat{
    display: none;
}
#vid_0_chat{
    display: block;
}

#vid_0_cheval,#vid_1_cheval,#vid_2_cheval,#vid_3_cheval{
    display: none;
}
#vid_0_cheval{
    display: block;
}

#dons_content{
    position: absolute;
    width: 100%;
    height: 55%;
    bottom: -0.5%;
    /*background-color: red;*/
}

#dons_titre{
    color: #ffffff;
    font-size: 5vw;
    top: 0%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    line-height: 1.2;
    text-shadow: 2px 2px rgba(136, 136, 136, 0.6);
}

#innerBouton{
    width: 100%;
    height: 25%;
    top : 20%;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    /*background-color: red;*/
}

#boutonList{
    position: absolute;
    top: 0;
    left: 0px;
    right: 0;
    margin: 0 auto;
    width: 82%;
    height: 100%;
    /*background-color: blue;*/
}

#boutonList li{
   position: relative;
   float:left; 
   width:17vw;
   height:17vw;
   margin-left: 4vw;

   cursor: pointer;
}

#boutonList li .sup{

   width:100%;
   height:100%;
   background-color: #fff;
   border-radius: 50% 50%;
   margin-left: 1vw;
    margin-top: -0.5vh;
   transition-property: all;
   transition-duration: .3s;

   text-align: center;
}

#boutonList li .sup span{
    position: absolute;
    top: 50%;
    left:8%;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    color: #716252;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);

    font-family: 'Adopte_Bold';
    font-size: 8vw;

    transition-property: all;
    transition-duration: .3s;
}

#boutonList sup{
    vertical-align: super;
    font-size: 4.5vw;
    font-family: 'GloriaHallelujah';
}



#boutonList li .bot{
    position:absolute;
    top:0.5vw;
    width:17vw;
    height:17vw;
    z-index: -1;
    background-color: #d0d0d0;
    border-radius: 50% 50%;
    margin-left: 1vw;
    transition-property: all;
    transition-duration: .3s;
}

#boutonList li:hover .sup{
    margin-top:0.3vw;
    background-color: #ec6707;
}

#boutonList li:hover .bot{
    background-color: #b6540e;
}

#boutonList li:hover .sup>span{
    margin-top:0.3vw;
    color:#fff;
}

#boutonList li:first-child{
    margin-left: 0;
}

#fakeBoutonList li:first-child{
    margin-left: 0;
}

.selectPrice>.sup{
    background-color: #ec6707 !important;
}

.selectPrice>.bot{
    background-color: #b6540e !important;
}

.selectPrice>.sup span{
    color:#fff !important;
}

#boutonList li#otherPrice .sup span{
    font-size: 4vw;
    top: 49%;
    left: -34%;
    margin-left: 7vw;
}

.euro{
    line-height: 0;
    font-family: 'GloriaHallelujah' !important;
    width: auto !important;
    left: 5vw !important;
}

#form{
    display:none;
}

#boutonList li#otherPrice .sup #montant{
    font-family: 'GloriaHallelujah';
    width: 8vw;
    height: 6vw;
    border: none;
    font-size: 4.5vw;
    padding-right: 1.5vw;
    left: 30%;
    text-align: right;
    margin-left: -4vw;
    border-radius: .3vw .3vw;
    color:#716252;
}

#contCTA{
    width: 100%;
    position:absolute;
    
    color:#fff;
    top:50%;
    text-align: center;
}

#cta{
    position: absolute;
    top:0;
    /*left:42.5%;*/
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 45%;
    height:12vw;
    background-color: #ec6707;
    font-family: 'OpenSans-Bold';
    opacity:0.5;
}

.activateCTA{
    opacity:1 !important;
    cursor: pointer;
}

#cta span{
    position: absolute;
    text-transform: uppercase;
    top: 33%;
    left: 0;
    right: 0;
    margin: 0 auto;
    /*font-weight: 700;
    top: 50%;
    left:50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);*/
}


.clear{
    clear: both;
}

#menu_content.chien{
    width: 100%;
    height: 15vw;
    position:absolute;
    bottom:12%;
    /*background-color: red;*/
}

.btns_menu{
   position:absolute;
    top:0.5vw;
    right:0;
    width:15vw;
    height:15vw;
    z-index: -1;
    background-color: #ec6707;
    border-radius: 50% 50%;
    margin-right: 2vw;
    transition-property: all;
    transition-duration: .3s; 
}

#btn_menu_expand_chien,#btn_menu_expand_chat,#btn_menu_expand_lapin,#btn_menu_expand_cheval{
    z-index: 15;
    display: none;
}
#btn_menu_expand_chien{
    display: block;
}

#menu_picto{
    width: 70%;
    height: auto;
    top: 49%;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    z-index: 15;
}

#btn_close_menu_chien,#btn_close_menu_chat,#btn_close_menu_lapin,#btn_close_menu_cheval{
    display: none;
    background-color: rgba(255, 255, 255, 0.9);
    background-image: url('../img/close_menu.png');
    background-size: 50% 50%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transform-origin: 50% 50%;
    z-index: 15;
}

#btn_chien{
    margin-right: 2vw;
    background-image: url('../img/btn_chien.png');
    background-size: cover;
    z-index: 14;
}

#btn_lapin{
    margin-right: 10vw;
    background-image: url('../img/btn_lapin.png');
    background-size: cover;
    z-index: 14;
}

#btn_chat{
    margin-right: 16vw;
    background-image: url('../img/btn_chat.png');
    background-size: cover;
    z-index: 13;
}

#btn_cheval{
    margin-right: 22vw;
    background-image: url('../img/btn_cheval.png');
    background-size: cover;
    z-index: 12;
}

#btn_facebook{
    position:absolute;
    bottom: 12%;
    left:0;
    width:12vw;
    height:12vw;
    z-index: -1;
    margin-left: 2vw;
    opacity: 0.6;
    transition-property: all;
    transition-duration: .3s; 
    z-index: 12;
}

#logo_don_conf{
    position: absolute;
    bottom: 12%;
    left: 0;
    /*width: 10%;
    height: auto;*/
    width:12vw;
    height:12vw;
    z-index: -1;
    margin-left: 15vw;
    transition-property: all;
    transition-duration: .3s; 
}


#footer_content{
    width: 100%;
    height: 7vw;
    position:absolute;
    background-color: #70624f;
    bottom:0%;
}

#mention{
    position: absolute;
    top:45%;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 2.5vw;
    color: #ffffff;
    font-family: 'OpenSans-Regular';
    text-align: center;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}

#section_gifs_chien,#section_gifs_lapin,#section_gifs_chat,#section_gifs_cheval{
    width: 100%;
    height: 100%;
    top: 8%;
    left: 0;
    position:absolute;
    overflow:hidden;
    z-index: -2;
    display: none;
}

#section_gifs_chien{
    display: block;
}



/***************/
/***************/
/*****LAPIN*****/
/*****LAPIN*****/
/*****LAPIN*****/
/***************/
/***************/
#main_lapin{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d0d0d0;
    position: absolute;
    z-index: -3;
    overflow: hidden;
    display: none;
}




/***PAYSAGE***/
#paysage{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #5a4e3f;
    background-image: url('../img/pattern.png');
    background-size: 10px 10px;
    background-repeat: repeat;
    position: absolute;
    z-index: -3;
    overflow: hidden;
    display: none;
}

#logo_spa_rotate{
    top: 2%;
    left: 2%;
    width: auto;
    height: 20%;
    position: absolute;
    z-index: 100;
    opacity: 1;
}

#content_rotate{
    width: 100%;
    height: 50%;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}

#content_rotate_left{
    width: 50%;
    height: 100%;
    top: 50%;
    left: 0;
    position: absolute;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}

#picto_rotate{
    width: auto;
    height: 100%;
    top: 0;
    right:5%;
    position: absolute;
}

#content_rotate_right{
    width: 50%;
    height: 100%;
    top: 50%;
    right: 0;
    position: absolute;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}

#texte_rotate{
    width: 100%;
    height: 100%;
    top: 20%;
    left: 0%;
    position: absolute;
    font-size: 4vw;
    /*color: #ec6707;*/
    color: #ffffff;
    font-family: 'OpenSans-Regular';
    text-align: left;
}

